.main{
    background-color: aqua;
    border: 2px solid green;
    display: flex;
}

ul{
    margin: 0px;
    background-color: bisque;
    box-sizing: border-box;
    padding: 5px 0px 20px 40px;
}

.text{
    flex: 1;
    display: grid;
    background-color: darkgray;
}

img{
    width: 50%;
    float: right;
}

.list{
    width: 25%;
}

p {
    margin:0;
}
