
.main{
    background-color: aqua;
    border: 2px solid green;
}

.list{
    margin-right: 10px;
    float: left;
    width: 28%;
}

ul{
    background-color: bisque;
    padding: 10px 0px 10px 40px;
    margin: 0;
}

.text{
    background-color: darkgray;
    width: 71%;
    margin: 0;
    display: inline-block;
}

p {
    margin: 0;
}